<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">5D-PriceRunner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <script>
        function load(){
            var translate = new Translate();
            var currentLng = 'English';
            var attributeName = 'data-tag';
            translate.init(attributeName, currentLng);
            translate.process(); 
        }
    </script>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" asp-page="Home">Design1</a>
          </li>
          @*<li class="nav-item">
          <a class="nav-link" asp-page="Form">M A R T I N L A N D</a>
        </li>*@

          @*<li class="nav-item">
              <a class="nav-link" asp-page="Form">Tutorials</a>
          </li>*@

          <li class="nav-item">
              <a class="nav-link" asp-page="Design2">Design2</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" asp-page="Form">Design3</a>
          </li>

          <div class="container; top-right">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Language</a>
                  <div class="dropdown-menu">
                      <a class="dropdown-item"onclick="currentLng = 'Danish' && load()" href="#">Danish</a>
                      <a class="dropdown-item"onclick="currentLng = 'English' && load()" href="#">English</a>
                  </div>
              </li>
          </div>

      </ul>
  </div>
</nav>
