@page
@model DimensionalPriceRunner.Pages.TutorialModel
@*@{
        ViewData["Title"] = "Home";
    }*@


<!doctype html>
<html lang="en">

<!-- Page Head -->
<head>
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="dist\Translate.js"></script>
    <script>
        function switchlang(clang) {
            var translate = new Translate();
            var currentLng = clang;
            var attributeName = 'data-tag';
            translate.init(attributeName, currentLng);
            translate.process();
        }
    </script>
</head>


<body onload="switchlang(document.getElementById('dropdownMenu-language').value)">


    <h2><text data-tag="UserAgentSwitcher1"></text></h2>
    <h3><text data-tag="UserAgentSwitcher2"></text></h3>
    <p><text data-tag="UserAgentSwitcher3"></text></p>
    <p><text data-tag="UserAgentSwitcher4"></text> <a href="https://chrome.google.com/webstore/detail/user-agent-switcher-for-g/ffhkkpnppgnfaobgihpdblnhmmbodake">UserAgent Switcher </a></p>
<p><text data-tag="UserAgentSwitcher6"></text></p>
<img src="dist/guidepics/pictureoffirstaddon.PNG" />
    <h3><text data-tag="UserAgentSwitcher7"></text></h3>
<p><text data-tag="UserAgentSwitcher8"></text></p>
<img src="dist/guidepics/pictureoffirstaddon.PNG" />
    <h3><text data-tag="UserAgentSwitcher9"></text></h3>
<p><text data-tag="UserAgentSwitcher10"></text></p>
<img src="dist/guidepics/pictureofaddon2.PNG" />
    <h3><text data-tag="UserAgentSwitcher11"></text></h3>
    <p><text data-tag="UserAgentSwitcher12"></text></p>
<img src="dist/guidepics/pictureofaddon3.PNG" />
<h3><text data-tag="UserAgentSwitcher13"></text></h3>
<p><text data-tag="UserAgentSwitcher14"></text></p>
<img src="dist/guidepics/nowworks.PNG" />
    <h2><text data-tag="UserAgentdevtool1"></text><text data-tag="UserAgentdevtool2"></text></h2>
    <h3><text data-tag="UserAgentdevtool3"></text></h3>
    <p><text data-tag="UserAgentdevtool4"></text></p>
    <h3><text data-tag="UserAgentdevtool5"></text></h3>
<p><text data-tag="UserAgentdevtool6"></text></p>
<img src="dist/guidepics/findthesettings1.PNG" />
    <h3><text data-tag="UserAgentdevtool7"></text></h3>
<p><text data-tag="UserAgentdevtool8"></text></p>
<img src="dist/guidepics/devtools2.PNG" />
    <h3><text data-tag="UserAgentdevtool9"></text></h3>
<p><text data-tag="UserAgentdevtool10"></text></p>
<img src="dist/guidepics/devtools3.PNG" />
    <h3><text data-tag="UserAgentdevtool11"></text></h3>
<p><text data-tag="UserAgentdevtool12"></text></p>
<img src="dist/guidepics/devtools4.PNG" />
    <h3><text data-tag="UserAgentdevtool13"></text></h3>
<p><text data-tag="UserAgentdevtool14"></text></p>
    <p><text data-tag="UserAgentdevtool15"></text></p>
<p><text data-tag="UserAgentdevtool16"></text></p>
<img src="dist/guidepics/devtools5.PNG" />
<h3><text data-tag="UserAgentdevtool17"></text></h3>
    <p><text data-tag="UserAgentdevtool18"></text></p>
    <img src="dist/guidepics/devtools7.PNG" />
<h3><text data-tag="Deletecookie1"></text></h3>
<p><text data-tag="Deletecookie2"></text></p>
<h3><text data-tag="Deletecookie3"></text></h3>
<p><text data-tag="Deletecookie4"></text></p>
<p><text data-tag="Deletecookie5"></text></p>
<img src="dist/guidepics/findthesettings1.PNG" />
<h3><text data-tag="Deletecookie6"></text></h3>
<p><text data-tag="Deletecookie7"></text></p>
<img src="dist/guidepics/findthesettings2.PNG" />
<h3><text data-tag="Deletecookie8"></text></h3>
<p><text data-tag="Deletecookie9"></text></p>
<p><text data-tag="Deletecookie10"></text></p>
<img src="dist/guidepics/findthesettings3.PNG" />
<h3><text data-tag="Deletecookie11"></text></h3>
<p><text data-tag="Deletecookie12"></text></p>
<p><text data-tag="Deletecookie13"></text></p>
<img src="dist/guidepics/findthesettings4.PNG" />
<h3><text data-tag="Deletecookie14"></text></h3>
<p><text data-tag="Deletecookie15"></text></p>
<p><text data-tag="Deletecookie16"></text></p>
<p><text data-tag="Deletecookie17"></text></p>
<p><text data-tag="Deletecookie18"></text></p>
<p><text data-tag="Deletecookie19"></text></p>
<img src="dist/guidepics/findthesettings5.PNG" />
<h3><text data-tag="VPN1"></text></h3>
<p><text data-tag="VPN2"></text></p>
<h3><text data-tag="VPN3"></text></h3>
<p><text data-tag="VPN4"></text></p>
<h3><text data-tag="VPN5"></text></h3>
<p><text data-tag="VPN6"></text></p>
<h3><text data-tag="VPN7"></text></h3>
<p><text data-tag="VPN8"></text></p>
<p><text data-tag="VPN9"></text></p>
<p><text data-tag="VPN10"></text></p>
<img src="dist/guidepics/ipvanishloggedin.PNG" />
<h3><text data-tag="VPN11"></text></h3>
<p><text data-tag="VPN12"></text></p>
<p><text data-tag="VPN13"></text></p>
 
    
  
   
   
  
  
   
   
   
 
   



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>